<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - I.T. Fun House</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Fade.css" />
    <link rel="stylesheet" href="~/css/MessageBox.css" />

</head>
<body>
    <header class="bg-success">
        <!--<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"> -->
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm">
            <div class="container-fluid">
                <a class="navbar-brand text-white bg-transparent" asp-area="" asp-controller="Home" asp-action="Index">I.T. Fun House - @ViewData["Title"]</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-black-50" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black-50" asp-area="" asp-controller="Calculation" asp-action="Index">Calculation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black-50" asp-area="" asp-controller="NthFibonacci" asp-action="Index">NthFibonacci</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <br />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>

    </div>

    <footer class="border-top footer text-muted bg-success text-lg-right">
        <div class="container text-white">
            <!--&copy; 2020 - I.T Fun House - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> -->
            &copy; 2020 - I.T Fun House
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/General.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
