@{
    ViewData["Title"] = "Home Page";
}

<!--
<center><a href="Calculation"><div class="fade-in"><img src="./Images/tenor.gif" alt="this slowpoke moves" width="550" /></div> </a></center>
    -->

<center>
    <div class="fade-in">
        <div style="min-width:50%">
            <a href="Calculation">
                <img id="MainPicture" type="button" src="./Images/Excel and Simpsons.jpg" height="515" />
            </a>

        </div>
        <br />
        <button id="Change Image" onclick="changePicture()">Change to Scary Picture!</button>

        <br />
        <br />
        <iframe width="500" height="320" src="https://www.youtube.com/watch?v=rt27betFxu8&feature=youtu.be&fbclid=IwAR0a9O7k8XORqCZn1X2JGTcybM_RBMso9SwJoTdOdC7i0FkHD2xdd5AGq-s">
        </iframe>

    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</center>